{% sw_extends '@Storefront/storefront/layout/footer/footer.html.twig' %}

{% block layout_footer_navigation_columns %}
    {{ parent() }}
    <h2>layout_footer_navigation_columns</h2>
    {% if page.footer.extensions.ingos_ingorance %}
        page.footer.extensions.ingos_ingorance is true
    {% elseif page.footer.extensions.ingos_fraktalistheme %}
        <!-- ^ this is false, but what do we try to check here anyway and why?
               it's not checking our theme (this code wouldn't be executed if the theme is not active;
               it's checking for our custom data?
        -->
        <!-- dump() tells us page.footer.extensions = [] -->
        <!--          and    page.extensions = [] as well -->
        <!-- probably we didn't yet complete the prerequisites:
        Add data to storefront page - Shopware Developer
        Completely new should only be the last line: $event->getPagelet()->addExtension('product_count', $productCountResult);
        Basically you're doing here, is to fetch actual pagelet instance from the event and add the data to the template.
        This data will then be available via the name product_count, but we'll get to that in the next section.
        source: https://developer.shopware.com/.../plugins/plugins/storefront/add-data-to-storefront-page

        -->

        <!-- discarded lines that are NOT working:
             sw_include '@Storefront/layout/footer/ingorance-footer.html.twig'
             sw_include './ingorance-footer.html.twig'
         thanks to
         https://stackoverflow.com/questions/62692360/shopware-6-twig-files-not-loaded-when-using-sw-include
         -->
    {% else %}
        (include condition failed)
    {% endif %}
    (include anyway)
    {# TODDO should this file use snake_case instead of hyphenation? #}
    {% sw_include '@IngoSFraktalistheme/storefront/layout/footer/ingorance-footer.html.twig' %}
{% endblock %}

{% block layout_footer_service_menu_content %}
    {{ parent() }}
    {# This is a block where we can insert an external widget or anything else. #}
{% endblock %}

{% block layout_footer_copyright %}
    <div class="footer-copyright">
        {{ "footer.copyrightInfo"|trans|sw_sanitize }}
        <img
            src="{{ asset('bundles/ingosfraktalistheme/fraktitle.png') }}"
            alt="{{ "ingosfraktalistheme.footer.fraktalismansDemoShop"|trans }}"
        >
        {# TODO: how to "localize" images that contain text?
           Note: "Bundles" are actually located at different paths:
            bundles/ingosfraktalistheme/ => src/Resources/public/fraktitle.png
            localization snippets always in src/Resources/snippet/de-DE/storefront.de-DE.json
         #}
        {{ "ingosfraktalistheme.footer.fraktalismansDemoShop"|trans }}
    </div>
{% endblock %}
