<h3>ingorance-footer.html.twig (included file)</h3>
{% set ingos_ingorance = page.footer.extensions.ingos_ingorance %}
<div class="col-md4 footer-column js-footer-column">
    <div class="footer-column-headline footer-headline js-footer-column-headline js-collapse-footer-column-trigger"
         data-target="#collapseFooterHotline"
         aria-expanded="true"
         aria-controls="collapseFooterHotline">
        {{ "ingosfraktalistheme.stores"|trans }}
        <div class="footer-column-toggle">
            <span class="footer-plus-icon">{% sw_icon 'plus' %}</span>
            <span class="footer-minus-icon">{% sw_icon 'minus' %}</span>
        </div>
    </div>
    <div id="collapseFooterHotline"
         class="footer-column-content collapse js-footer-column-content footer-contact"
         aria-labelledby="headingOne">
        <ul>
            {% for shop in ingos_ingorance.elements %}
                <!-- Note: don't forget the hash sign which is of course necessary but only added later in the tutorial after missing in the first place,
                TODO: check for other bugs or missing details in the tutorial code! -->
                <li><a href="#" data-toggle="modal" data-target="#shop-{{ shop.id }}">{{ shop.name }}</a></li>
            {% endfor %}
        </ul>
    </div>
</div>

<!-- TODO where to add shop details for modals,
     TODO use localization snippets,
     what else TODO to finish tutorial?
     is it unnecessary micro optimization to want to avoid doing the same loop 2 times in the same template? -->
{% for shop in ingos_ingorance.elements %}
    <div class="modal" tabindex="-1" role="dialog" id="shop-{{ shop.id }}">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">{{ shop.name }}</h5>
                    <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <p>
                        {{ shop.name }}<br>
                        {{ shop.street }}<br>
                        {{ shop.postcode }} {{ shop.city }}<br>
                        <!-- Note: country is an object, use country.name here! -->
                        <!-- TODO add/edit demo data custom fields to test everything! -->
                        {% if shop.country.name %}
                            {{ shop.country.name }}<br>
                        {% endif %}
                        {% if shop.url %}
                            {{ "ingosfraktalistheme.website"|trans }}: <a href="{{ shop.url }}" target="_blank" rel="noopener">
                                {{ shop.url }}
                            </a>
                            <br>
                        {% endif %}
                        {% if shop.telephone %}
                            {{ "ingosfraktalistheme.telephoneShort"|trans }}: <a href="tel:{{ shop.telephone }}" target="_blank" rel="noopener">
                                {{ shop.telephone }}
                            </a>
                            <br>
                        {% endif %}
                        {% if shop.openTimes %}
                            {{ "ingosfraktalistheme.openTimes"|trans }}: {{ shop.openTimes }}<br>
                        {% endif %}
                    </p>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-secondary" type="button" data-dismiss="modal">{{ "general.closeMenu"|trans }}</button>
                </div>
            </div>
        </div>
    </div>
{% endfor %}
